
	<h1>WELCOME TO WALLET APP !!!!</h1>

<%= image_tag 'wallet.png' %>
	<div class="row">
		<div class='btn-grp' >
			<%= button_to "signup", new_user_path, :method => :get %>
			<%= button_to "signin", new_session_path, :method => :get %>

		</div>
	</div>


