/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
    @import "bootstrap";

body {
	text-align:center;
	background-color:#92D490;
	padding:15px;

}
	input {
		margin-top:15px;
	}

	.navbar {
    width: 80%;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #E639D1;
    border:1px solid white;
}
.navbar ul {
    list-style-type: none; 
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    /*border:2px solid #FF0066;*/
    display:table;
    overflow: hidden;
}
.navbar li{
    float: left;
    padding: 10px;
    width: 100px;
    margin-left: auto ;
    margin-right: auto ;
}
.page-wrapper {
    background-color: #D9852B;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-radius: 30px;

}
.page-wrapper h1 {
    font-style: italic;
    color: #2B7FD9;
    background-color: #F5F0F5;
    font-weight: 500;
    font-family:Georgia sans-serif;
    
}
.page-wrapper2 {
    background-color: #D9852B;
    border:2px solid white;
    padding: 35px;

}